@inject AppState AppState

<StackLayout Padding="20">
    <Label Margin="20" FontSize="15" FontAttributes="FontAttributes.Italic" Text="@("You have pressed " + AppState.Counter + " times")" />
    <Button OnClick="HandleClick">
        +1
    </Button>
</StackLayout>

@code {
    void HandleClick()
    {
        AppState.Counter++;
    }
}
